:root {
  --primary: #6366f1;
  --bg: #f4f6fb;
  --card-bg: #ffffff;
  --text: #1f2937;
  --border: #e5e7eb;
}
body.dark {
  --bg: #111827;
  --card-bg: #1f2937;
  --text: #f3f4f6;
  --border: #374151;
}
body {
  overflow: hidden;
  margin: 0;
  font-family: Arial, sans-serif;
  background: rgb(111, 147, 212);
  color: var(--text);
}
.auth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 90vh;
  padding: 20px;
}
.auth-card {
  background: var(--card-bg);
  padding: 40px;
  border-radius: 12px;
  width: 100%;
  max-width: 420px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.auth-header {
  text-align: center;
  margin-bottom: 25px;
}
.auth-header h2 {
  margin: 0;
}
.form-group {
  margin-bottom: 18px;
}
.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--border);
  border-radius: 6px;
  font-size: 14px;
}
.password-wrapper {
  display: flex;
  align-items: center;
  width: 105%;
  border: 1px solid var(--border);
  border-radius: 6px;
}
.password-wrapper input {
  border: none;
  flex: 1;
  padding: 10px;
}
.password-wrapper span {
  padding: 0px 10px;
  cursor: pointer;
}
.form-options {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  margin-bottom: 20px;
}
.btn-primary {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: var(--primary);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-primary:hover {
  opacity: 0.9;
}
.auth-footer {
  text-align: center;
  margin-top: 18px;
  font-size: 14px;
}
.auth-footer a {
  color: var(--primary);
  text-decoration: none;
}
